<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="portfolio.css">
    <link rel="stylesheet" href="../../style/global.css">
   
    <title>Portfolio Arthur </title>
</head>

<body>
    <header>
        <header class="text">
            <h1>ARTHUR LUNA / <a href="#">FRONT-END DEVELOPER</a></h1>
            <nav class="nav-links">
                <a href="#about"> <strong>ABOUT ME</strong>  </a> 
                <a href="#skills">SKILLS</a>
                <a href="#projeto">PROJECTS</a>
                <a href="#contact">CONTACT</a>
            </nav>
        </header>
    </header>
    

    <main>
        <section class="profile-section">
            <img src="https://icons.iconarchive.com/icons/iconarchive/incognito-animals/128/Lion-Avatar-icon.png" width="298" height="252">

            <h2>ARTHUR LUNA</h2>
            <h3>FRONT-END</h3>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/arthur-henrique-699541178/"><h4>Tap On LinkedIn</h4> <img src="../../src/assets/image/LinkedIn.svg" alt="LinkedIn"></a>
               
            </div>
        </section>

        <section id="about" class="intro-box">
           
            <h1>HELLO <br> EVERYONE</h1>
            
            <p><strong>Eu Arthur Luna ,Sou formado em Análise e Desenvolvimento de Sistemas pela Faculdade Unisa, com grande intuito de ter experiência com front-end e pode agregar para meu time. tenho certificados
                hardware e software de smartphones. Atualmente, estou expandindo meu conhecimento em desenvolvimento
                web. 

                </strong></p>
                
            <div class="buttons">
                <a href="#skills" class="resume-btn">SKILLS</a>
                <a href="#projeto" class="projects-btn">PROJECTS <style></style> </a>
                
                
                
            </div>
            <p class="about-text"> <strong> <>cursando Aplicação Web (HTML, CSS e JavaScript) no SENAI ...<> <br>About Me Arthur Luna </strong> </p>
        </section>
    </main>
    <section id="skills" class="container fade-in">
        <h2> SKILLS  </h2>
        <div class="skills-grid">
            <div class="skill-item">
                <div class="skill-icon">&#128187;</div>
                <h3> Frontend </h3>
                <p> HTML, CSS, Javascript, React </p>
            </div>
            <div class="skill-item">
                <div class="skill-icon">&#128295;</div>
                <h3> Backend </h3>
                <p> Node.js, Javascript, Python </p>
            </div>
            <div class="skill-item">
                <div class="skill-icon">&#128202;</div>
                <h3> Banco de dados </h3>
                <p> MongoDB, MySQL </p>
            </div>
            <div class="skill-item">
                <div class="skill-icon">&#128736;</div>
                <h3> Ferramentas </h3>
                <p> Git, Docker, AWS </p>
            </div>
        </div>
    </section>

    <section id="projeto" class="projetos">
        <h2>PROJETOS </h2>
        <div class="projetos-grid">
            <div class="projeto-card"> 
                <h3 class="titulo-projetos"> Plataforma De Cursos </h3>
                <div class="buttonss">
                    <a href="https://github.com/arthurlunaa/plataforma-de-cursos" class="projects-btns">PROJECTS <style></style> </a>
                </div>
                <p> <strong>Plataforma de cursos online com design responsivo, autenticação de usuário e pagamento seguro. Ideal para aprender de forma prática e acessível.</strong> </p>
                <div class="projeto-tags">
                    <span> HTML </span>
                    <span> CSS </span>
                    <span> MONGODB </span>
                </div>
            </div>
            <div class="projeto-card">
                <h3 class="titulo-projetos"> App de Gerenciamento de Tarefas </h3>
                <div class="buttonss">
                    <a href="https://github.com/arthurlunaa/integrativeProject_Containerized_systems" class="projects-btns">PROJECTS <style></style> </a>
                </div>
                <p> <strong>Uma aplicação de produtividade pra gerenciar tarefas e projetos com atualizações em tempo real e recursos de colaboração de equipes.</strong> </p>
                <div  class="projeto-tags">
                    <span> JAVASCRIPT </span>
                    <span> CSS </span>
                    <span> MONGODB </span>

                </div>

            </div>
            <div class="projeto-card">
                <h3 class="titulo-projetos"> Jogo de Encontrar Palavras  </h3>
                <div class="buttonss">
                    <a href="https://github.com/arthurlunaa/secrete-word" class="projects-btns">PROJECTS <style></style> </a>
                </div>
                <p> <strong>Plataforma em React que oferece autenticação segura, gerenciamento de dados e interações dinâmicas para usuários.  </strong></p>
                <div class="projeto-tags">
                    <span> HTML </span>
                    <span> REACT </span>
                    <span> FIREBASE </span>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="bottom">
            <p>© 2024 by Arthur Luna. <br> Created with FIGMA.</p> 
        </div>
        <section id="contact" class="contact-info">
            <p><strong>CALL</strong><br> +55 (11)94258-6211</p>
            <p><strong>E-MAIL</strong><br> henriquearthur192@gmail.com</p>
        </div>
        
    </footer>
</body>

</html>
